<!-- <div>
    <form>
      <>
      <button ng-click="search(0)">Login</button>
      <button ng-click="register()">Register</button>
    </form>
</div> -->
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
        </div>
          <div class="panel-body">
            <form>
                <div class="form-group">
                  <input ng-model="username" class="form-control" placeholder="Username" name="username" type="text">
              </div>
              <div class="form-group">
                <input ng-model="password" class="form-control" placeholder="Password" name="password" type="password" value="">
              </div>
              <p style="color:red;" ng-show="invalid">Invalid username or password combination</p>
              <button ng-click="logIn()" class="btn btn-lg btn-success btn-block" >Log in</button>
              <h6>No account yet? <a href="/#/register">Register</a></h6>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>