<div class="row container-fluid">
  <div class="col-xs-12 col-md-4 query-input">
    <form>
      <button ng-click="search(0)">Search</button>
      <div id="query-req-cols">
        <h3>Desired columns:</h3>
        <select ng-model="fields"
                ng-options="::col.name as ::col.display for col in ::availableCols"
                ng-change="updateGridColVisibility()"
                size='6'
                multiple required>
        </select>
        <span class="glyphicon glyphicon-info-sign" title="Hold control and click to select individual options, and shift and click to select ranges."></span>
      </div>
      <div id="query-location-type">
        <h3>Location types:</h3>
        <select ng-model="query.loc_types"
                ng-options="::loc_type.code as ::loc_type.name for loc_type in ::loc_types"
                size='6'
                multiple>
        </select>
        <span class="glyphicon glyphicon-info-sign" title="Hold control and click to select individual options, and shift and click to select ranges."></span>
      </div>
      <div id="query-grades">
        <h3>Grades:</h3>
        <div class="form-group">
          Low grade
          <select
            ng-model="query.loworder"
            ng-options="option as option for option in ::minmax track by option">
          </select>
          <select
            ng-model="query.lowgrade"
            ng-options="grade.code as grade.name for grade in ::grades track by grade.code">
          </select>
        </div>
        <div class="form-group">
          High grade
          <select
            ng-model="query.highorder"
            ng-options="option as option for option in ::minmax track by option">
          </select>
          <select
            ng-model="query.highgrade"
            ng-options="grade.code as grade.name for grade in ::grades track by grade.code">
          </select>
        </div>
      </div>
      <div class="form-group">
        <h3>School Zip Code Characteristics</h3>
        <table class="rangefield">
          <tr>
            <td>SAT Reading</td>
            <td>
              <input class="inline" ng-model="query.satReadMin" type="number" />
            </td>
            <td>&#8209;</td>
            <td>
              <input class="inline" ng-model="query.satReadMax" type="number" />
            </td>
          </tr>
          <tr>
            <td>SAT Math</td>
            <td>
              <input class="inline" ng-model="query.satMathMin" type="number" />
            </td>
            <td>&#8209;</td>
            <td>
              <input class="inline" ng-model="query.satMathMax" type="number" />
            </td>
          </tr>
          <tr>
            <td>SAT Writing</td>
            <td>
              <input class="inline" ng-model="query.satWriteMin" type="number" />
            </td>
            <td>&#8209;</td>
            <td>
              <input class="inline" ng-model="query.satWriteMax" type="number" />
            </td>
          </tr>
          <tr>
            <td>ACT</td>
            <td>
              <input class="inline" ng-model="query.actMin" type="number" />
            </td>
            <td>&#8209;</td>
            <td>
              <input class="inline" ng-model="query.actMax" type="number" />
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <h3>School Characteristics:</h3>
        <table class="rangefield">
          <tr>
            <td>Students per Full Time Teacher</td>
            <td>
              <input class="inline" ng-model="query.stRatioMin" type="number" />
            </td>
            <td>&#8209;</td>
            <td>
              <input class="inline" ng-model="query.stRatioMax" type="number" />
            </td>
          </tr>
          <tr>
            <td>Diversity Percentage<span class="glyphicon glyphicon-info-sign" title="Number between 0 and 100"></span></td>
            <td>
              <input class="inline" ng-model="query.diversityMin" min="0" max="100" type="number" />
            </td>
            <td>&#8209;</td>
            <td>
              <input class="inline" ng-model="query.diversityMax" min="0" max="100" type="number" />
            </td>
          </tr>
        </table>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="magnet" ng-model="query.magnet"/>Magnet
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="charter" ng-model="query.charter"/>Charter
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="title1" ng-model="query.title1"/>Title 1 Eligible
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="bie" ng-model="query.bie"/>Bureau of Indian Affairs School
          </label>
        </div>
      </div>
      <div class="form-group">
        <h3>Order by</h3>
        <div class="radio">
          <label><input type="radio" name="ordernone" ng-model="query.ordering"/>Default</label>
        </div>
        <div class="radio" ng-repeat="ordering in ::sort_opts">
          <label>
            <input type="radio" name="order{{::ordering.value}}" ng-model="query.ordering" value="{{::ordering.value}}"/>{{::ordering.display}}
            <span class="glyphicon glyphicon-info-sign" title="{{::ordering.tooltip}}"></span>
          </label>
        </div>
      </div>
      <button ng-click="search(0)">Search</button>
    </form>
  </div>
  <div id="search_results" class="col-xs-12 col-md-8 query-output" >
    <ul class="nav nav-tabs">
      <li ui-sref-active="active">
        <a ui-sref="schoolsearch.list">List</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="schoolsearch.map">Map</a>
      </li>
    </ul>
    <ui-view />
  </div>
</div>