<div class="container-fluid">
  <h3 ng-bind="::data.school_name"></h3>
  <h4 ng-bind="::data.agency_name"></h4>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-xs-6">
          Low Grade:
        </div>
        <div class="col-xs-6">
          {{data.low_grade}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          High Grade:
        </div>
        <div class="col-xs-6">
          {{data.high_grade}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Location:
        </div>
        <div class="col-xs-6">
          {{::data.location_street}}<br/> {{ data.location_city + " " + data.location_state + " " + data.location_zip + (data.location_zip4?"-"+data.location_zip4:"")}}
        </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            Mailing:
          </div>
        <div class="col-xs-6">
            {{::data.mailing_street}}<br/> {{ data.mailing_city + " " + data.mailing_state + " " + data.mailing_zip + (data.mailing_zip4?("-"+data.mailing_zip4):"")}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Phone:
        </div>
        <div class="col-xs-6" ng-bind="transform_phone(data.phone_number)">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Location Type:
        </div>
        <div class="col-xs-6" ng-bind="transform_urbancode(data.urban_centric_code)">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Full Time Equivalent Teachers:
        </div>
        <div class="col-xs-6" ng-bind="data.fte_teachers">
        </div>
      </div>
      <div class="row" ng-if="data.total_students">
        <div class="col-xs-6">
          Total Students:
        </div>
        <div class="col-xs-6" ng-bind="data.total_students">
        </div>
      </div>
      <div class="row" ng-if="data.div_percent">
        <div class="col-xs-6">
          Percent Minority Students:
        </div>
        <div class="col-xs-6">
        {{ data.div_percent }}%
        </div>
      </div>
      <div class="row" ng-if="data.free_lunch_eligible">
        <div class="col-xs-6">
          Free Lunch Eligible Students:
        </div>
        <div class="col-xs-6" ng-bind="data.free_lunch_eligible">
        </div>
      </div>
      <div class="row" ng-if="data.reduced_lunch_eligible">
        <div class="col-xs-6">
          Reduced Lunch Eligible Students:
        </div>
        <div class="col-xs-6" ng-bind="data.reduced_lunch_eligible">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.magnet"></span>
          <span class="glyphicon glyphicon-remove" ng-if="!data.magnet"></span></span>
          Magnet School
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.charter"></span>
          <span class="glyphicon glyphicon-remove" ng-if="!data.charter"></span></span>
          Charter School
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.shared_time"></span>
          <span class="glyphicon glyphicon-remove" ng-if="!data.shared_time"></span></span>
          Shared Time School
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.title_1_eligible"></span>
          <span class="glyphicon glyphicon-remove" ng-if="!data.title_1_eligible"></span></span>
          Title 1 Eligible School
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.school_wide_title_1"></span>
          <span class="glyphicon glyphicon-remove" ng-if="!data.school_wide_title_1"></span>
          School Wide Title 1 School
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-xs-6">State SAT Reading Average</div>
        <div class="col-xs-6" ng-bind="data.satreading"></div>
      </div>
      <div class="row">
        <div class="col-xs-6">State SAT Math Average</div>
        <div class="col-xs-6" ng-bind="data.satmath"></div>
      </div>
      <div class="row">
        <div class="col-xs-6">State SAT Writing Average</div>
        <div class="col-xs-6" ng-bind="data.satwriting"></div>
      </div>
      <div class="row" ng-if="data.act">
        <div class="col-xs-6">State ACT Composite Average</div>
        <div class="col-xs-6" ng-bind="data.act"></div>
      </div>
      <div class="row" ng-if="data.avgIncome">
        <div class="col-xs-6">Zip Code Average Salary</div>
        <div class="col-xs-6">${{data.avgIncome}}</div>
      </div>
      <div class="row" ng-if="data.salary2013">
        <div class="col-xs-6">State Teacher Average Salary</div>
        <div class="col-xs-6">${{data.salary2013}}</div>
      </div>
      <div class="row" ng-if="data.salary2013">
        <div class="col-xs-6">Zip Code Average House Value</div>
        <div class="col-xs-6">${{data.avgHouseValue}}</div>
      </div>
    </div>
  </div>
  <div style="width:75%; height:400px" id="street-view" ng-if="data.location_long && data.location_lat">
    <ng-map street-view="StreetViewPanorama(document.querySelector('#street-view'), {position:new google.maps.LatLng({{data.location_lat}},{{data.location_long}})})">
      <marker position="{{data.location_lat}},{{data.location_long}}"></marker>
    </ng-map>
  </div>
</div>