<div id="query-results-map">
  <div ng-show="gridOptions.data">
  	<div id="map">
  		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	  		<ui-gmap-markers models="markers" coords="'self'" click="clickedMarker" icon="'icon'">
		  		<ui-gmap-windows show="show">
		        <div ng-non-bindable>
              <a href="#/school/{{school.agency_nces_id}}/{{school.school_nces_id}}">
              {{school.school_name}}
              </a>
            </div>
          </ui-gmap-windows>
        </ui-gmap-markers>
  		</ui-gmap-google-map>
  	</div>
  </div>
</div>