html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer {
  height:25px;
}
#global-nav {
  display: inline-block;
}
#logout-button {
  display: inline-block;
  float: right;
}

#main-content {
  height: calc(100vh - 228px);
  overflow-y: auto;
}
.myGrid {
  height: calc(100vh - 228px - 43px);
  top:0;
  left:0;
  right:0;
  bottom:0
}

table.rangefield td {
  padding: 0px 5px 0px 5px;
}
input.inline {
  width: 80px;
}

div.query-input {
  overflow-y: auto;
  height: calc(100vh - 228px);
  display: inline-block;
}
div.query-output {
  height: 445px;
  display: inline-block;
}

.angular-google-map-container { height: 400px; }

.street-view {height: 300px;}