<!DOCTYPE html>
<html ng-app='TeacherApp'>
    <head>
        <meta charset="utf-8" />
        <title>School Search</title>
        <link rel="stylesheet" type="text/css" href="styles/styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.min.css" >
    </head>
    <body>
        <header class="container page-header" ng-controller="headerCtrl">
            <h1>School Search</h1>
            <ul class="nav nav-tabs" id="global-nav">
                <li ui-sref-active="active">
                    <a ui-sref="schoolsearch.list">School Search</a>
                </li>
            </ul>
            <div id="logout-button"><button ng-click="logout()" ng-show="isLoggedIn()" class="btn btn-lg btn-danger btn-block">Log out</button></div>
        </header>
        <div id="main-content" class="container">
          <ui-view></ui-view>
        </div>
        
        <footer class="container text-center">
            <p>Created by Eddie Kong, Jeremy Lautman, Ruth Xie, and Stanley Zhou</p>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js"></script>
        <script src="app/app.js"></script>
        <script src="app/routes/schoolsearch.js"></script>
        <script src="app/routes/school.js"></script>
        <script src="app/directives/schoolResult.js"></script>
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
        <script src="app/vendor/angular-logger.js"></script>
        <script src="app/vendor/angular-google-maps.js"></script>
        <script src="app/vendor/ng-map.min.js"></script>
        <script src="app/controllers/headerCtrl.js"></script>
        <script src="app/routes/login.js"></script>
        <script src="app/routes/register.js"></script>
        <script src="app/services/dbService.js"></script>
        <script src="app/services/authService.js"></script>
        <script src="app/services/userService.js"></script>
    </body>
</html>
